.container{
    display: grid;
    /*grid-template-columns: 1fr 1fr 4fr 1fr 1fr;*/
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: 1fr 1fr 1fr;*/
    grid-template-rows: repeat(4, 1fr);
    
    /*grid-row-gap: 10px;*/
    /*grid-column-gap: 50px;*/
}

.box-1{
    /*grid-column-start: 1;*/
    /*grid-column-end: 3;*/
    /*grid-row-start: 1;*/
    /*grid-row-end: 2;*/
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.box-2{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.box-3{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.box-4{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.box-5{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.box-6{
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}

.box-7{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.box-8{
    grid-column: 3 / 5;
    grid-row: 3 / 5;
    background-color: orange;
}

.box-9{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}
